1  ICON  "Logo/UpdateManager.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "DeepForge Technology", "DeepForge Technology"
      VALUE "FileDescription", "DeepForge Toolset - installer of necessary tools for programming."
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "DeepForge Toolset"
      VALUE "LegalCopyright", "DeepForge Technology"
      VALUE "OriginalFilename", "DeepForgeToolset.exe"
      VALUE "ProductName", "DeepForge Toolset"
      VALUE "ProductVersion", "0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END